<title>{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="{{ site.footer.bio }}" />
<meta name="author" content="{{ site.author }}" />

<!-- SEO Meta Tags -->
<meta name="theme-color" content="#34a58e" />
<meta name="keywords" content="photography, portfolio, photos, gallery" />
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="image" content="{{ '/images/profile.jpg' | prepend: site.baseurl | prepend: site.url }}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.baseurl | prepend: site.url }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.footer.bio }}" />
<meta property="og:image" content="{{ '/images/profile.jpg' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="en_US" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ site.baseurl | prepend: site.url }}" />
<meta property="twitter:title" content="{{ site.title }}" />
<meta property="twitter:description" content="{{ site.footer.bio }}" />
<meta property="twitter:image" content="{{ '/images/profile.jpg' | prepend: site.baseurl | prepend: site.url }}" />
{% if site.social_urls.twitter %}
<meta property="twitter:creator" content="@{{ site.social_urls.twitter | split: '/' | last }}" />
{% endif %}

<!-- Canonical URL -->
<link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />

<!-- Alternate links for language versions (if applicable) -->
<link rel="alternate" hreflang="en" href="{{ site.baseurl | prepend: site.url }}" />

<!-- Web App Manifest -->
<link rel="manifest" href="/manifest.json" />

<!-- Security Headers -->
<meta http-equiv="Content-Security-Policy"
  content="default-src 'self'; script-src 'self' 'unsafe-inline' https://www.googletagmanager.com https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' data: https://fonts.gstatic.com; img-src 'self' data: https:; connect-src 'self' https://www.google-analytics.com https://www.googletagmanager.com; upgrade-insecure-requests;">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<!-- Inline critical CSS for faster first paint -->
<style>
  {
    % include critical.css %
  }
</style>

<!-- Main stylesheets -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="prefetch" href="/assets/js/lightbox.min.js?v={{ site.data.asset-hashes['assets/js/lightbox.min.js'] }}">
<link rel="prefetch" href="/assets/js/exif.min.js?v={{ site.data.asset-hashes['assets/js/exif.min.js'] }}">

<link rel="preload" href="assets/css/main.min.css?v={{ site.data.asset-hashes['assets/css/main.min.css'] }}" as="style">
<link rel="preload" href="assets/css/custom.min.css?v={{ site.data.asset-hashes['assets/css/custom.min.css'] }}" as="style">
<link rel="stylesheet" href="assets/css/main.min.css?v={{ site.data.asset-hashes['assets/css/main.min.css'] }}">
<link rel="stylesheet" href="assets/css/custom.min.css?v={{ site.data.asset-hashes['assets/css/custom.min.css'] }}">
<link rel="preload" href="/assets/css/icons.css" as="style">
<link rel="stylesheet" href="/assets/css/icons.css">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic&display=swap" as="style">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic&display=swap">

<!-- Fallback for no-JS -->
<noscript>
  <link rel="stylesheet" href="assets/css/main.min.css?v={{ site.data.asset-hashes['assets/css/main.min.css'] }}" />
  <link rel="stylesheet" href="assets/css/noscript.min.css?v={{ site.data.asset-hashes['assets/css/noscript.min.css'] }}" />
  <link rel="stylesheet" href="assets/css/custom.min.css?v={{ site.data.asset-hashes['assets/css/custom.min.css'] }}" />
  <link rel="stylesheet" href="/assets/css/icons.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic&display=swap">
</noscript>

<link rel="shortcut icon" href="assets/favicon.ico" />

{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}